<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Conner Forrest&#039;s Website" />
	<meta name="robots" content="noodp,noydir" />
    <title>{{ page.title }} {% if page.title != "Conner Forrest" %}| {{ site.name }} {% endif %}</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400' rel='stylesheet' type='text/css'>
    <link href="/css/main.css" rel="stylesheet">
    <link rel="Shortcut Icon" href="/assets/favicon.ico" type="image/x-icon">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
	<body itemscope="itemscope" itemtype="http://schema.org/WebPage">
		<header itemtype="http://schema.org/WPHeader" role="banner">
			<h1 class="site-title" itemprop="headline"><a href="/" title="{{ site.name }}">{{ site.name }}</a></h1>
			{% if page.title == "Conner Forrest" %}
			<img src="assets/sketch-of-conner-forrest.jpg" />
			{% endif %}
			{% include navigation.html %}
		</header>