<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8" />
		<title>{{ page.title }} {% if page.title != "Conner Forrest" %}| {{ site.name }} {% endif %}</title>
		<meta name="description" content="Conner Forrest&#039;s Website" />
		<meta name="robots" content="noodp,noydir" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
		<link rel="Shortcut Icon" href="/assets/favicon.ico" type="image/x-icon">

	</head>
	<body class="home header-full-width full-width-content" itemscope="itemscope" itemtype="http://schema.org/WebPage">
        <div class="site-container">
          <header class="site-header" itemtype="http://schema.org/WPHeader" role="banner">
            <div class="wrap">
				<div class="title-area">
					<h1 class="site-title" itemprop="headline"><a href="/" title="{{ site.name }}">{{ site.name }}</a></h1>
				</div>
			</div>
          </header>