<nav class="nav-primary" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
	<div class="wrap">
		<ul id="menu-conner" class="menu genesis-nav-menu menu-primary">
			<li id="menu-item-493" class="menu-item menu-item-type-custom menu-item-object-custom {% if page.title == "Conner Forrest" %}current-menu-item current_page_item{% endif %} menu-item-home menu-item-493"><a href="/">Home</a></li>
			<li id="menu-item-491" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-491 {% if page.title == "About" %}current-menu-item current_page_item{% endif %}"><a href="/about/">About</a></li>
			<li id="menu-item-492" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-492 {% if page.title == "Contact" %}current-menu-item current_page_item{% endif %}"><a href="/contact/">Contact</a></li>
		</ul>
	</div>
</nav>