<div id="social-icons">
	<div class="one-third first">
		<p><a href="https://twitter.com/connerforrest" target="_blank"><img src="/assets/twitter.png" class="aligncenter" /></a></p>
	</div>
	<div class="one-third">
		<p><a href="https://www.linkedin.com/in/connerforrest" target="_blank"><img src="/assets/linkedin.png" class="aligncenter" /></a></p>
	</div>
	<div class="one-third">
	<p><a href="https://plus.google.com/+ConnerForrest1/about" target="_blank"><img src="/assets/google-plus.png" class="aligncenter" /></a></p>
	</div>
</div>
