<div><a id="social"></a>
	<div id="social-icons" class="row">
		<div class="col-xs-4">
			<p><a href="https://twitter.com/connerforrest" target="_blank"><img src="/assets/twitter.png" class="aligncenter img-responsive"></a></p>
		</div>
		<div class="col-xs-4">
			<p><a href="https://www.linkedin.com/in/connerforrest" target="_blank"><img src="/assets/linkedin.png" class="aligncenter img-responsive"></a></p>
		</div>
		<div class="col-xs-4">
			<p><a href="https://plus.google.com/+ConnerForrest1/about" target="_blank"><img src="/assets/google-plus.png" class="aligncenter img-responsive"></a></p>
		</div>
	</div>
</div>   